html,body{
  height: 100%;
  width:100%;
  font-family: Helvetica;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.card{
  height: auto;
  width: 300px;
  border: 2px solid #439da9;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  background-color: #333333;
  text-align: center;
  border-radius: 10px;
}

button {
  width: 100px;
  height: 30px;
  background-color: rgb(12, 12, 12);
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border: 1px solid rgb(102, 216, 203);
  border-radius: 10px;
  padding: 2px;
  cursor: pointer;
  transition: all 0.3s ease; /* smooth animation */
  box-shadow: 0 0 5px rgba(61, 230, 230, 0.2);
}

button:hover {
  color: rgb(133, 226, 234);
  border: 1px solid rgb(86, 231, 231);
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(4, 182, 146),
              0 0 25px rgb(16, 53, 57);
}


.profileimg{
  height:100px;
  width:100px;
  border-radius: 50%;
}

.parent{
  display: flex;
}